.Hero {
  background-image: url(/public/Hero.jpg);
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  padding: 120px 0;
}

.Section_caption {
  text-align: left;
  margin-top: 120px;
}

.rev_span {
  margin-left: 60px;
  font-size: 16px;
  font-family: "Poppins-Medium";
  color: darkgoldenrod;
}
.Section_caption h1 {
  font-size: 50px;
  color: chocolate;
  width: 100%;
  font-family: "JosefinSans-Bold";
  line-height: 1.5;
  margin-top: 60px;
}

.search {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 30px;
  gap: 30px;
}

.faSearch {
  color: brown;
  font-size: 30px;
}

.hero_img {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
}

.btn {
  padding: 10px 30px;
  background-color: rgba(0, 153, 204, 0.397);
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;

  font-family: "Poppins-Medium";
}
.Link {
  font-size: 1rem;
  color: white;
}
